body 
{
    padding: 5em;
} 

img 
{
    float: top; 
    position: absolute; 
    top: 3em; 
    width: 5em; 
    height: 5em;
} 

div 
{
    margin-left: -1.5em;
} 
/* Rhythm Positions */

.flag > *, .stem > *, .heading > *
{
    margin: 2em;
    margin-left: 12em;
}

.flag 
{
    margin-top: -2.7em; 
    margin-right: 1em;
}

.stem 
{
    margin-top: -3em;
}

.heading 
{
    margin-top: -1em;
}

.flag-D3-note
{
}

.head-D3-note
{
}

.stem-D3-note
{
}

.flag-E3-note
{
}

.head-E3-note 
{
}

.stem-E3-note 
{
}

.flag-F3-note
{
}

.head-F3-note 
{
}

.stem-F3-note 
{
}

.flag-G3-note
{
}

.head-G3-note 
{
}

.stem-G3-note 
{
}

.flag-A3-note
{
}

.head-A3-note 
{
}

.stem-A3-note 
{
}


.flag-B3-note
{
}

.head-B3-note 
{
}

.stem-B3-note 
{
}

.flag-C4-note
{
}

.head-C4-note 
{
}

.stem-C4-note 
{
}

.flag-D4-note
{
}

.head-D4-note 
{
}

.stem-D4-note 
{
}

.flag-E4-note
{
}

.head-E4-note 
{
}

.stem-E4-note 
{
}

.flag-F4-note
{
}

.head-F4-note 
{
}

.stem-F4-note 
{
}

.flag-G4-note
{
}

.head-G4-note 
{
}

.stem-G4-note 
{
}

.flag-A4-note
{
}

.head-A4-note 
{
}

.stem-A4-note 
{
}

flag-B4-note
{
}

.head-B4-note 
{
}

.stem-B4-note 
{
}

flag-C5-note
{
}

.head-C5-note 
{
}

.stem-C5-note 
{
}


flag-D5-note
{
}

.head-D5-note 
{
}

.stem-D5-note 
{
}

flag-E5-note
{
}

.head-E5-note 
{
}

.stem-E5-note 
{
}

flag-F5-note
{
}

.head-F5-note 
{
}

.stem-F5-note 
{
}

flag-G5-note
{
}

.head-G5-note 
{
}

.stem-G5-note 
{
}

flag-A5-note
{
}

.head-A5-note 
{
}

.stem-A5-note 
{
}

flag-B5-note
{
}

.head-B5-note 
{
}

.stem-B5-note 
{
}

flag-C6-note
{
}

.head-C6-note 
{
}

.stem-C6-note 
{
}

.flag-D6-note
{
}

.head-D6-note 
{
}

.stem-D6-note 
{
}
/* Positioning for notes and signatures */
.G-key, .F-key, .C-key {    position: relative; margin: 6.5em;  }

.G-key {    top: -2.25em;   }

.F-key {    top: -3.50em;   }

.C-key {    top: -2.90em;   }

.lines 
{
    position: absolute;
    float: top;
}
/* The Space between lines and spaces doubles */
.firstDownSpace {   top: 8.35em;    }
/* Staff 5 lines for the key: from E4 to F5 */
.firstLine  {   top: 8.00em;    }
.secondLine {   top: 7.30em;    }
.thirdLine  {   top: 6.70em;   }
.fourthLine {   top: 6.15.em;   }
.fiveLine   {   top: 5.50em;   }
/* Until D6 for G key */
.firstUpperSpace    {   top: 5.15em;  }
.secondUpperSpace   {   top: 5.00em;  }
.thirdUpperSpace    {   top: 4.75em;  }
.fourthUpperSpace   {   top: 4.33em;  }
.fivethUpperSpace   {   top: 3.97em; }